* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-colr: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/*Navbar*/
.navbar {
  background-color: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: #4891ff;
}

.navbar ul li a i {
  margin-right: 10px;
}

.navbar ul li:last-child a {
  margin-left: 10px;
}

/*hero*/
.hero {
  margin-bottom: 50px;
}

.hero .container{
  height: 550px;
  background: url("/Images/Images.png") no-repeat;
  background-position: center bottom;
  background-size: contain;
}

.hero .container .hero-text .heading {
  width: 70%;
}
.hero .container .hero-text .text-para {
  width: 50%;
  margin-bottom: 20px;
}


/*Video section*/
.video {
  padding: 10px 0 40px;
}

.video .video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.video-content a {
  margin-top: 20px;
}
.video .video-preview {
  margin-bottom: 20px;
}



/*Testimonials*/
.testimonials {
  padding: 30px 10px;

}

.testimonials-heading {
  color: var(--light-color);
  width: 65%;
}

.cards {

  display: flex;
  justify-content: space-between;

}

.card {
  
  background-color: var(--light-color);
  color: var(--dark-colr);
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
 overflow: auto;
 text-align: center;
  
}

/*Pricing Card*/
.card1 {
  padding: 25px;
  margin: 40px;
  border-radius: 15px;
  
  
}

.card1text {
  padding: 20px 0;
}

.tick {
margin: 20px 0;
border-top: #111 solid 2px;
padding-top: 20px;
line-height: 30px;
}
.tick i {
  margin-right: 10px;
}


.pricing-cards {
  display: flex;
}

/* FAQ */
.faq {
  padding: 40px 0;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}

.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

.faq ul.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.faq ul.faq-menu li {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.faq ul.faq-menu li.active {
  background: var(--primary-color);
  color: #fff;
}




.footer {
  padding: 60px 0;
height: 400px;
display: flex;
align-items: center;
justify-content: space-around;

}



.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}



.footer .logo {
  background-color: var(--light-color);
  display: inline-block;
  margin-bottom: 20px;
}






.newsletter {
  background-color: var(--light-color);
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  width: 20%;
}


.footer li a{
  color: white;
margin-top: 20px;
}

.footer input[type='email'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}


.contact {
  color: white;
}






/*Utility Classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 10px 20px;
  background-color: var(--light-color);
  font-weight: 600;
  border-radius: 10px;
  border: none;
  color: var(--dark-color);
  transition: 0.5s;
  cursor: pointer;
}

.btn-hover {
  opacity: 0.8;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
  text-align: center;
}

.text-xxl {
  font-size: 3rem;
  font-weight: 600px;
  line-height: 1.2;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 20px 0 15px;
}

.text-lg {
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 1.1 rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

.bg-dark {
  background-color: var(--dark-colr);
}

.bg-light {
  background-color: var(--light-color);
}

.bg-gray {
  background-color: #D3D3D3;
}

.text-white {
  color: var(--light-color);
}



























